* {box-sizing: border-box; margin: 0;}
.widget {
  padding: 30px 30px;
  background: #0b0b0d81;
  position: fixed;
  height: 100%;
  width: fit-content;
}
#logotype {
  transition: .1s linear;
}
.logo{
	margin-bottom: 10px;
	padding-left: 15px;
}
.widget-list {
  padding: 30px;
  list-style: none!important;
}
.widget-list li{
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 10px;
}
.widget-list a:before {
  margin-right: 15px;
}
.widget-list a {
  text-decoration: none;
  outline: none;
  font-size: 16px;
  display: block;
  padding: 6px 0; 
  letter-spacing: 1px;
  color: #ffffff;
  transition: .1s linear;
  font-weight: 400;
}
.widget-list a:hover {
  color: #A276FF;
}
.header{
	padding-left: 500px;
  padding-top: 200px;
  padding-bottom: 100px;
}
.comm{
	font-size: 40px;
	text-align: left;
	font-weight: 700;
}
.and{
	text-align: left;
	font-size: 86px;
	color: #A276FF;
  font-weight: 700;
}
.welc{
  padding-top: 16px;
	font-size: 20px;
  font-weight: 400;
  padding-bottom: 40px;
  margin-bottom: 20px;
}
#make-order {
  outline: none;
  align-self: left;
  color: #fff;
  padding: 10px 30px;
  width: 180px;
  text-decoration: none!important;
  text-align: center;
  transition: color .1s linear;
  border: 1px solid #A276FF;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 700;
  background-color: #A276FF;
}
#make-order :hover {
  background-color: #a176ff00;
  color: #A276FF;
}
.titles {
  margin-left: 500px;
  display: inline-flex;
  margin-bottom: 100px;
  padding-top: 100px;
  width: 600px;
  align-items: center;
}
.tri {
  margin-left: 10px;
}
h1 {
  font-size: 30px;
  font-weight: 700;
}
.about {
  margin-left: 500px;
  width: 800px;
  margin-bottom: 100px;
  font-size: 20px;
  font-weight: 400;
}
#about-jpg {
  width: 700px;
  border: 3px solid #fff;
  border-radius: 10px;
}
.gall {
  margin-left: 500px;
  width: 750px;
  margin-bottom: 100px;
  font-size: 20px;
  font-weight: 400;
  border: 3px solid #fff;
  border-radius: 10px;
}
.circles {
  margin-left: 500px;
  width: 1000px;
  margin-bottom: 100px;
  font-size: 20px;
  font-weight: 400;
  display: inline-flex;
}
.adv {
  margin-right: 70px;
  width: 200px;
  display: block;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #fff;
}
.adv-svg {
  width: 200px;
  margin-bottom: 30px;
}
.pal {
  margin-right: 50px;
  width: 150px;
  display: block;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #fff;
}
.pal-img {
  width: 150px;
  margin-bottom: 30px;
}
.form {
  margin-left: 500px;
  width: 600px;
  color: #111111;
  background-color: #ffffffd0;
  border: 1px solid #ffffffd0;
  border-radius: 20px;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  margin-bottom: 100px;
}
h2 {
  font-size: 30px;
  font-weight: 700;
  padding-bottom: 30px;
}
.fill-form {
  margin-bottom: 30px;
}
.fill-form ::placeholder {
  color: #111111;
  vertical-align: center;
  font-size: 20px;
  font-weight: 400;
}
#idea {
  height: 200px;
  margin-bottom: 0px;
}
.form p {
  font-size: 20px;
  font-weight: 400;
  padding-left: 0px;
}
.buttons {
  display: inline-block;
  margin-top: 5px;
  
}
#file {
  outline: none;
  align-self: left;
  color: #111111;
  padding: 8px 30px;
  width: 180px;
  text-decoration: none!important;
  text-align: center;
  transition: color .1s linear;
  border: 3px solid #111111;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 700;
  background-color: #a176ff00;
}
#add {
  margin-left: 5px;
  margin-right: 160px;
  outline: none;
  align-self: left;
  transition: .1s linear;
  text-decoration: none;
}
input {
  background-color: #a176ff00;
  width: 100%;
  height: 40px;
  border: 3px solid #111111;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  outline: none;
}
textarea {
  background-color: #a176ff00;
  width: 100%;
  height: 40px;
  border: 3px solid #111111;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  outline: none;
  overflow: hidden;
}